/******************************************************************************
 * WATS1010: Introduction to Web Development
 * Embedded Media Assignment
 *
 * Site Styles
 *****************************************************************************/

html {
    padding: 0;
	list-style-type: none;
	color: white;
}
body {
	margin:0;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 400;
	font-weight: bold;
	background-color: lightpink;
	text-align: center;
}
a:link {
	color: yellow;
	text-decoration: none;
}
a:visited {
	color: yellow;
	text-decoration: none;
}
header {
	min-height: 400px;
	background-image: url(../img/monkaa_title.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	margin-bottom: 0;
	border: 0;
}
#subheader {
	min-height: 350px;
	background-image: url(../img/monkaa_monkeyhang.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	font-size: 180%;
}
.main-nav {
	list-style-type: none;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Titillium Web', sans-serif;
	font-weight: 700;
	font-size: 180%
}

#social {
	background-color: rbga(0,0,0);
	position: absolute;
	top: 50px;
	right: 0;
	width: 25px;
	transition: 2s width;
}
#social:hover {
	width: 250px;
}
#social ul {
	list-style-type: none;
	padding: 0;
}
#social li {
	margin: 0;
	padding: 0;
}

div img {
    display: inline-block;
    width: 250px;
    height: 250px;
}

div:after {
    content: '';
    display: inline-block;
    width: 100%;
}
#watch {
	min-height: 600px;
	background-image: url(../img/monkaa_bluemonkey.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
#listen {
	min-height: 150px;
	background-image: url(../img/monkey_flight.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
#about {
	background-color: #E35E97;
}
.lead {
	font-size: 150%;
}
footer {
	min-height: 350px;
	background-image: url(../img/official_header.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	font-size: 180%;	
}
#main-nav {
	font-size: 180%;
	float: right;
	padding-right: 25px;
	padding-bottom: 25px;
	margin-right: 100px;
}